<script setup lang="ts">
import TableAllCheckIn from '@/components/TableAllCheckIn.vue'
import TableCheckInMe from '@/components/TableCheckInMe.vue'
import TableBranchCheckIn from '@/components/TableBranchCheckIn.vue'
import { useAuthStore } from '@/stores/auth'

const authStore = useAuthStore()
</script>

<template>
  <v-card
    style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh"
  >
    <TableAllCheckIn v-if="authStore.currentUser?.role.id === 3"></TableAllCheckIn>
    <TableCheckInMe v-if="authStore.currentUser?.role.id === 2"></TableCheckInMe>
    <TableBranchCheckIn v-if="authStore.currentUser?.role.id === 1"></TableBranchCheckIn>
  </v-card>
</template>
