<script setup lang="ts">
import { useCheckInOutStore } from '@/stores/checkInOut'
import { ref } from 'vue'
const check = ref(true)
const checkToday = ref(false)
const checkInOutStore = useCheckInOutStore()

function checkInOut() {
  if (check.value) {
    console.log('view check In')
    checkInOutStore.checkIn()
  } else {
    console.log('view check Out')
    checkInOutStore.checkOut()
    checkToday.value = true
  }
}
</script>

<template>
  <v-app class="theme">
    <v-container style="text-align: center">
      <v-row>
        <v-col cols="12">
          <v-btn
            width="625"
            height="50"
            :color="check === true ? 'green' : 'red'"
            :text="check === true ? 'บันทึกเวลาเข้างาน' : 'บันทึกเวลาออกงาน'"
            :disabled="checkToday"
            @click="checkInOut(), (check = !check)"
          ></v-btn>
        </v-col>
        <v-col>
          <v-table class="ma-2 rounded-xl" theme="white">
            <thead>
              <tr>
                <th
                  class="text-center"
                  :style="{
                    backgroundColor: checkInOutStore.userCheckInOut ? 'black' : 'white',
                    color: 'white'
                  }"
                >
                  วันที่
                </th>
                <th
                  class="text-center"
                  :style="{
                    backgroundColor: checkInOutStore.userCheckInOut ? 'black' : 'white',
                    color: 'white'
                  }"
                >
                  ชื่อ
                </th>
                <th
                  class="text-center"
                  :style="{
                    backgroundColor: checkInOutStore.userCheckInOut ? 'black' : 'white',
                    color: 'white'
                  }"
                >
                  เวลาเข้างาน
                </th>
                <th
                  class="text-center"
                  :style="{
                    backgroundColor: checkInOutStore.userCheckInOut ? 'black' : 'white',
                    color: 'white'
                  }"
                >
                  เวลาออกงาน
                </th>
                <th
                  class="text-center"
                  :style="{
                    backgroundColor: checkInOutStore.userCheckInOut ? 'black' : 'white',
                    color: 'white'
                  }"
                >
                  สถานะ
                </th>
                <th
                  class="text-center"
                  :style="{
                    backgroundColor: checkInOutStore.userCheckInOut ? 'black' : 'white',
                    color: 'white'
                  }"
                >
                  จำนวนชั่วโมง
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="checkInOutStore.userCheckInOut.checkIn">
                <td class="text-center">
                  {{ checkInOutStore.showDate }}
                </td>
                <td class="text-center">{{ checkInOutStore.userCheckInOut.user?.fullName }}</td>
                <td class="text-center">{{ checkInOutStore.showCheckIn }}</td>
                <td class="text-center">{{ checkInOutStore.showCheckOut }}</td>
                <td class="text-center">{{ checkInOutStore.userCheckInOut.status }}</td>
                <td class="text-center">{{ checkInOutStore.userCheckInOut.hour }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style scoped>
.theme {
  background-image: url('https://wallpapercave.com/uwp/uwp4030377.jpeg');
  background-size: 100% 100%;
}
</style>
