<script setup lang="ts">
import { useTypeUtilityBillStore } from '@/stores/typeUtilityBill'
import { inject, type Ref } from 'vue'
const typeUtilityBillStore = useTypeUtilityBillStore()

const dialogDelete = inject<Ref<boolean>>('deleteTypeDialog')

function closeDelete() {
  if (dialogDelete) {
    dialogDelete.value = false
  }
}

async function deleteItemConfirm() {
  await typeUtilityBillStore.deleteType()
  typeUtilityBillStore.clearForm()
  closeDelete()
}
</script>
<template>
  <v-dialog v-model="dialogDelete"  max-width="400px">
    <v-card rounded="xl" style="overflow-y: hidden;">
      <v-toolbar flat color="#424242">
          <v-toolbar-title class="text-center" > ลบประเภทค่าใช้จ่าย </v-toolbar-title>
      </v-toolbar>
      <div style="margin: auto; padding: 20px; font-size: 16px; text-align: center">
        คุณแน่ใจหรือไม่ว่าต้องการลบประเภทค่าใช้จ่ายนี้?
      </div>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-row>
          <v-col>
            <v-btn color="blue" variant="text" size="x-large" @click="closeDelete">ยกเลิก</v-btn>
          </v-col>
          <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
          <v-col>
            <v-btn color="red" variant="text" size="x-large" @click="deleteItemConfirm">ลบ</v-btn>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
