<script setup lang="ts">
import { useTypeUtilityBillStore } from '@/stores/typeUtilityBill'

import { inject, nextTick, ref, type Ref } from 'vue'
import type { VForm } from 'vuetify/components'
const refForm = ref<VForm | null>(null)
const dialog = inject<Ref<boolean>>('editTypeDialog')
const loading = ref(false)
const typeUtilityBillStore = useTypeUtilityBillStore()
function onSubmit() {}

function closeDialog() {
  if (dialog) {
    dialog.value = false
    nextTick(() => {
      typeUtilityBillStore.clearForm()
    })
  }
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await typeUtilityBillStore.saveTypeUtilityBill()
  await typeUtilityBillStore.getTypeUtilityBills()
  closeDialog()
}
</script>

<template>
  <v-dialog v-model="dialog" width="400">
    <template v-slot:activator="{ props }">
      <v-btn rounded="lg" variant="flat" color="amber"  size="small" v-bind="props" icon="mdi-currency-usd"></v-btn>
    </template>
    <v-card style="overflow-y: hidden;">
      <v-toolbar flat color="#424242">
        <v-toolbar-title style="margin-left: 40px;">ค่าใช้จ่าย</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-form
          ref="refForm"
          :v-model="typeUtilityBillStore.typeUtilityBills"
          @submit.prevent="onSubmit"
        >
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <div class="mb-2">ประเภทค่าใช้จ่าย:</div>
                <v-text-field
                  v-model="typeUtilityBillStore.editedTypeUtilityBill.name"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                  class="mb-2"
                  clearable
                  single-line
                  label="ประเภทค่าใช้จ่าย"
                ></v-text-field
              ></v-col>
            </v-row> </v-container></v-form
      ></v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-row>
          <v-col cols="12" sm="4">
            <v-btn variant="text" block @click="closeDialog()"> ยกเลิก </v-btn>
          </v-col>
          <v-col cols="12" sm="8">
            <v-btn color="blue" variant="flat" block @click="save()"> บันทึก </v-btn>
          </v-col>
        </v-row>
      </v-card-actions></v-card
    ></v-dialog
  >
</template>
<style>
.v-dialog {
  overflow-y: hidden; /* ซ่อน scrollbar */
}
</style>