<script setup lang="ts">
import { useUtilityBillStore } from '@/stores/utilityBill'
import type { UtilityBill } from '@/types/UtilityBill'
import { inject, onMounted, provide, ref, type Ref } from 'vue'
import UtilityBillDialog from './UtilityBillDialog.vue'

const dialog = inject<Ref<boolean>>('hiatoryUtilityBill')

const selected = ref<UtilityBill | null>(null)
const utilityBillDialog = ref(false)
provide('utilityBill', utilityBillDialog)
provide('selected', selected)

const setselected = (item: UtilityBill) => {
  selected.value = item
}

const utilityBillStore = useUtilityBillStore()

onMounted(async () => {
  utilityBillStore.getUtilityBills()
})

const getFormattedDateTime = (date: Date | null): string | undefined => {
  if (date) {
    return new Date(date).toLocaleString('th-TH', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit'
    })
  }
  return undefined
}
</script>
<template>
  <v-dialog v-model="dialog" max-width="550px">
    <v-card class="mx-auto" width="550px" height="1000px" style="border-radius: 5px">
      <div
        style="
          position: relative;
          width: 100%;
          background-color: #fff;
          z-index: 1000;
          border-radius: 5px;
        "
      ></div>
      <div style="z-index: 500">
        <v-card-text>
          <v-list>
            <v-list-item-group v-if="utilityBillStore.utilityBills.length > 0">
              <v-list-item
                v-for="item in utilityBillStore.utilityBills"
                style="background-color: rgb(203, 226, 249); margin: 5px; border-radius: 10px"
              >
                <v-list-item-content>
                  <v-list-item
                    @click="
                      () => {
                        utilityBillDialog = true
                        setselected(item)
                      }
                    "
                  >
                    <v-list-item-title>
                      <div
                        style="
                          display: grid;
                          grid-template-columns: repeat(4, 1fr);
                          gap: 10px;
                          text-align: center;
                        "
                      >
                        <div>{{ item.id }}</div>
                        <div>{{ getFormattedDateTime(item.date) }}</div>
                      </div>
                    </v-list-item-title>
                  </v-list-item>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
            <v-list-item v-else>
              <v-list-item-content>ไม่พบรายการการนำเข้าสินค้า</v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
      </div>
    </v-card>
  </v-dialog>
  <UtilityBillDialog></UtilityBillDialog>
</template>
