<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { useTypeUtilityBillStore } from '@/stores/typeUtilityBill'
import { useUtilityBillStore } from '@/stores/utilityBill'
import { inject, nextTick, onMounted, provide, ref, type Ref } from 'vue'
import type { VForm } from 'vuetify/components'

const utilityBillStore = useUtilityBillStore()
const typeUtilityBillStore = useTypeUtilityBillStore()

const dialog = inject<Ref<boolean>>('addUtilityBill')

const authStore = useAuthStore()
function onSubmit() {}
const refForm = ref<VForm | null>(null)

onMounted(async () => {
  await typeUtilityBillStore.getTypeUtilityBills()
})

function closeDialog() {
  if (dialog) {
    dialog.value = false
    nextTick(async () => {
      await utilityBillStore.clearForm()
      await typeUtilityBillStore.clearForm()
    })
  }
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  utilityBillStore.editedUtilityBill.user = authStore.getCurrentUser()
  utilityBillStore.editedUtilityBill.type = typeUtilityBillStore.editedTypeUtilityBill
  await utilityBillStore.saveUtilityBill()
  await typeUtilityBillStore.clearForm()
  refresh()
  closeDialog()
}

function refresh() {
  nextTick(() => {
    utilityBillStore.clearForm()
  })
}
</script>
<template>
  <v-dialog v-model="dialog" width="1000px">
    <v-card >
      <v-form ref="refForm" :v-model="utilityBillStore.utilityBills" @submit.prevent="onSubmit">
        <v-card-title class="mx-auto utility-bills-title utility-bills" style="background-color: #424242;">

          <v-row>
            <v-col cols="12" sm="4" md="4"> </v-col>
            <v-col cols="12" sm="4" md="4" class="text-center" > ค่าใช้จ่าย </v-col>
           
          </v-row>
        </v-card-title>
        <v-container>
          <v-row>
            <v-col cols="12" sm="12" md="2"></v-col>

            <v-col cols="12" sm="12" md="4">
              <v-select
                label="ประเภท"
                :items="typeUtilityBillStore.typeUtilityBills"
                v-model="typeUtilityBillStore.editedTypeUtilityBill"
                item-color="primary"
                item-title="name"
                return-object
                :rules="[(v) => !!v || 'กรุณาเลือกประเภท']"
              ></v-select>
            </v-col>
            <v-col cols="12" sm="12" md="4">
              <v-text-field
                :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                class="mb-2"
                clearable
                label="วันที่"
                type="date"
                v-model="utilityBillStore.editedUtilityBill.date"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3"></v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                class="mb-2"
                clearable
                label="เลขที่บิล"
                width="100%"
                v-model="utilityBillStore.editedUtilityBill.invoiceNumber"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3"></v-col>
            <v-col cols="12" sm="12" md="3"></v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                class="mb-2"
                clearable
                label=" จำนวนเงิน"
                type="number"
                min="0"
                v-model="utilityBillStore.editedUtilityBill.amount"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3"></v-col>
            <v-col cols="12" sm="12" md="3"></v-col>
            <v-col cols="12" sm="12" md="6">
              <v-text-field
                class="mb-2"
                clearable
                label="หมายเหตุ"
                v-model="utilityBillStore.editedUtilityBill.remark"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="3"></v-col>
            <v-col cols="12" sm="12" md="3"></v-col>
            <v-col cols="12" sm="12" md="3">
              <v-btn
                @click="closeDialog"
                width="1000px"
                style="background-color: rgb(251, 103, 103); color: white"
                >ยกเลิก</v-btn
              ></v-col
            >
            <v-col cols="12" sm="12" md="3">
              <v-btn
                style="background-color: rgb(72, 192, 72); color: white"
                prepend-icon="mdi-content-save-outline"
                width="1000px"
                @click="save"
                >บันทึก</v-btn
              >
            </v-col>
            <v-col cols="12" sm="12" md="4"></v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card>
  </v-dialog>
</template>
<style>
.utility-bills {
    color: white;
    max-height: 50px; /* ปรับความสูงตามที่ต้องการ */
  overflow: hidden;
}
</style>
