<script setup lang="ts">
import { useTypeUtilityBillStore } from '@/stores/typeUtilityBill'
import type { TypeUtilityBill } from '@/types/TypeUtilityBill'
import EditTypeDialog from './EditTypeDialog.vue'
import { onMounted, provide, ref, type Ref } from 'vue'
import ImpoortUtilityDialog from './ImportUtilityDialog.vue'
import DeleteTypeDialog from './DeleteTypeDialog.vue'
import HistoryUtilityBillDialog from './HistoryUtilityBillDialog.vue'

const search: Ref<string> = ref('')
const typeUtilityBillStore = useTypeUtilityBillStore()

const dialogAddUtilityBill = ref(false)
const dialogEditUtilityBill = ref(false)
const dialogDeleteUtilityBill = ref(false)
const dialogHistory = ref(false)
provide('addUtilityBill', dialogAddUtilityBill)
provide('editTypeDialog', dialogEditUtilityBill)
provide('deleteTypeDialog', dialogDeleteUtilityBill)
provide('hiatoryUtilityBill', dialogHistory)

onMounted(async () => {
  await typeUtilityBillStore.getTypeUtilityBills()
})
const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'ประเภท',
    key: 'name',
    value: 'name'
  },
  {
    title: 'แก้ไข, ลบ',
    key: 'actions'
  }
]
function editstock(item: TypeUtilityBill) {
  typeUtilityBillStore.editedTypeUtilityBill = Object.assign({}, item)
  dialogEditUtilityBill.value = true
}

async function deleteItem(item: TypeUtilityBill) {
  if (!item.id) return
  await typeUtilityBillStore.getTypeUtilityBill(item.id)
  dialogDeleteUtilityBill.value = true
}
</script>
<template>
  <v-card style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh">
  <v-card flat class="ma-5"  elevation="3" color="grey-darken-4" >
<v-data-table :headers="headers" :items="typeUtilityBillStore.typeUtilityBills" :search="search" height="484">
  <template v-slot:top>
          <v-toolbar flat color="grey-darken-4">
          <v-toolbar-title > ค่าใช้จ่าย </v-toolbar-title>
          <v-row>
            <v-col></v-col>
            <v-col cols="12" sm="5">
              <v-text-field
              v-model="search"
              variant="outlined"
              append-inner-icon="mdi-magnify"
              density="compact"
              label="ค้นหา"
              class="custom-text-field"
              hide-details
              single-line
          ></v-text-field>
            </v-col>
          </v-row>
           <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
          <template v-slot:append>
        <EditTypeDialog></EditTypeDialog>
      </template>
        </v-toolbar>
           
  </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon size="small" class="me-2" @click="editstock(item)"> mdi-pencil </v-icon>
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
        
</v-data-table>
      <v-row>
        <v-col cols="12" sm="12" md="2"><v-btn width="100%" color="blue" class="text-none text-subtitle-1"
            @click="dialogHistory = true" prepend-icon="mdi-clipboard-text-clock-outline">ประวัติ</v-btn></v-col><v-col
          cols="12" sm="12" md="2"></v-col>
        <v-col cols="12" sm="12" md="3"><v-btn width="100%" color="green" class="text-none text-subtitle-1"
            @click="dialogAddUtilityBill = true" prepend-icon="mdi-plus">เพิ่มรายการค่าใช้จ่าย</v-btn></v-col>
      </v-row>
<ImpoortUtilityDialog></ImpoortUtilityDialog>
<DeleteTypeDialog></DeleteTypeDialog>
<HistoryUtilityBillDialog></HistoryUtilityBillDialog>
</v-card>
</v-card>
  <!-- <v-card style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh">
    <v-card flat title="Utility Bill" class="ma-5" elevation="3" color="grey-darken-4">
      <template v-slot:text>
        <v-text-field v-model="search" label="Search" prepend-inner-icon="mdi-magnify" single-line variant="outlined"
          hide-details></v-text-field>
      </template>
      <template v-slot:append>
        <EditTypeDialog></EditTypeDialog>
      </template>

      <v-data-table :headers="headers" :items="typeUtilityBillStore.typeUtilityBills" :search="search" height="380">
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon size="small" class="me-2" @click="editstock(item)"> mdi-pencil </v-icon>
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
      </v-data-table>
      <v-row>
        <v-col cols="12" sm="12" md="2"><v-btn width="100%" color="blue" class="text-none text-subtitle-1"
            @click="dialogHistory = true" prepend-icon="mdi-clipboard-text-clock-outline">History</v-btn></v-col><v-col
          cols="12" sm="12" md="2"></v-col>
        <v-col cols="12" sm="12" md="3"><v-btn width="100%" color="green" class="text-none text-subtitle-1"
            @click="dialogAddUtilityBill = true" prepend-icon="mdi-plus">Add UtilityBill</v-btn></v-col>
      </v-row>
    </v-card>
  </v-card>
  <ImpoortUtilityDialog></ImpoortUtilityDialog>
  <DeleteTypeDialog></DeleteTypeDialog>
  <HistoryUtilityBillDialog></HistoryUtilityBillDialog> -->
</template>
