<script setup lang="ts">
import type { UtilityBill } from '@/types/UtilityBill'
import { inject, type Ref } from 'vue'

const dialog = inject<Ref<boolean>>('utilityBill')

const selectedItem = inject<Ref<UtilityBill> | any>('selected')

const getFormattedDateTime = (date: Date | undefined): string | undefined => {
  if (date) {
    return new Date(date).toLocaleString('th-TH', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit'
    })
  }
  return undefined
}
</script>

<template>
  <v-dialog v-model="dialog" max-width="550px">
    <v-card class="mx-auto" width="550px" height="1000px" style="border-radius: 5px">
      <div style="margin: 20px">
        <div style="display: flex; justify-content: space-between">
          <div>ชื่อ {{ selectedItem?.user.fullName }}</div>
          <div>วันที่ &nbsp;&nbsp;{{ getFormattedDateTime(selectedItem?.date) }}</div>
        </div>
      </div>
      <v-table v-if="selectedItem !== undefined && selectedItem !== null">
        <thead>
          <tr>
            <th>หมายเลขใบเสร็จ</th>
            <th>ประเภท</th>
            <th>จำนวนเงิน</th>
            <th>สถานะ</th>
            <th>หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ selectedItem.invoiceNumber }}</td>
            <td>{{ selectedItem.type.name }}</td>
            <td>{{ selectedItem.amount }}</td>
            <td>{{ selectedItem.status }}</td>

            <td>{{ selectedItem.remark }}</td>
          </tr>

          <tr style="height: 60px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td>{{ selectedItem.totalPrice }}</td>
            <td></td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-dialog>
</template>
