<script setup lang="ts">
// import axios from 'axios';
import { reactive } from 'vue';
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, 
  Title, 
  Tooltip, 
  Legend, 
  BarElement, 
  CategoryScale, 
  LinearScale } 
  from 'chart.js'
//   onMounted(async () => {
//     await gettttt
//   })

// async function gettttt(){
//   const res = await axios.get('http:')
//   const labels = res.data.map((it: any) => {
//     return it.
//   })
//   const data = res.data.map((it: any) => {
//     return it.
//   })
//   chartData.labels = labels
//   chartData.datasets[0].data = data
// }
ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)


const chartData = reactive({
  labels: [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
  ],
  datasets: [
    {
      label: 'Graph',
      backgroundColor: '#f87979',
      data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
    }
  ]
})
      const chartOptions = reactive({
  responsive: false,
  maintainAspectRatio: true
})
</script>

<template>
  <div class="grid-container">
    <div><Bar
      id="my-chart-id1"
      :options="chartOptions"
      :data="chartData"
      width="500"
    /></div>
    <div><Bar
      id="my-chart-id2"
      :options="chartOptions"
      :data="chartData"
      width="500"
    /></div>
    <div><Bar
      id="my-chart-id3"
      :options="chartOptions"
      :data="chartData"
      width="500"
    /></div>
    <div><Bar
      id="my-chart-id4"
      :options="chartOptions"
      :data="chartData"
      width="500"
    /></div>
  </div>
</template>
<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
</style>