<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import type { Receipt } from '@/types/Receipt'
import { onMounted, ref } from 'vue'
import { useAuthStore } from '@/stores/auth'
import type { User } from '@/types/User'

const receiptStore = useReceiptStore()
const authStore = useAuthStore()
const startDate = ref(formatDate(new Date()))
const endDate = ref(formatDate(new Date()))

const search = ref('')
const headers = [
  { key: 'id', title: 'Id', value: 'id' },
  { key: 'total', title: 'Total', value: 'total' },
  { key: 'qty', title: 'Quantity', value: 'qty' },
  { key: 'memberDiscount', title: 'MemberDiscount', value: 'memberDiscount' },
  { key: 'promotionDiscount', title: 'PromotionDiscount', value: 'promotionDiscount' },
  {
    key: 'created',
    title: 'Created',
    value: (item: any | Receipt) => new Date(item.created).toLocaleString()
  },
  { key: 'user', title: 'User', value: (item: any | User) => item.user.fullName },
  { key: 'paymentType', title: 'PaymentType', value: 'paymentType' }
]

function formatDate(date: Date): string {
  const newDateFormat = [
    date.getFullYear(),
    (date.getMonth() + 1).toString().padStart(2, '0'),
    date.getDate().toString().padStart(2, '0')
  ].join('-')
  return newDateFormat
}

async function findReceipt() {
  if (authStore.currentUser) {
    await receiptStore.getReceiptsWithDate(startDate.value, endDate.value, authStore.currentUser)
  }
}

onMounted(async () => {
  if (authStore.currentUser?.role.id === 2 || authStore.currentUser?.role.id === 1) {
    await receiptStore.getReceiptsByUser(authStore.currentUser)
  } else {
    await receiptStore.getReceipts()
  }
  console.log(receiptStore.receipts.map((item) => item.id))
})
</script>
<template>
  <v-card style="background-image: url('./img/coffback1.jpg'); background-size: cover">
    <v-card elevation="3" class="ma-5" height="400"></v-card>
    <v-card flat title="Receipts" class="ma-5" elevation="3" color="grey-darken-4">
      <template v-slot:text>
        <v-row>
          <v-col cols="3">
            <v-text-field
              v-model="search"
              label="Search"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="outlined"
              hide-details
            ></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-text-field type="date" label="วันเริ่มต้น" v-model="startDate"></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-text-field type="date" label="วันสิ้นสุด" v-model="endDate"></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn size="x-large" height="56" @click="findReceipt()">ค้นหา</v-btn>
          </v-col>
        </v-row>
      </template>
      <v-data-table :headers="headers" :items="receiptStore.receipts" :search="search" height="420">
      </v-data-table>
      <receipt-history-dialog></receipt-history-dialog>
    </v-card>
  </v-card>
</template>
