<script setup lang="ts">
import { inject, type Ref } from 'vue'
import type { CheckStock } from '@/types/CheckStock'

const dialog = inject<Ref<boolean>>('checkStockDeteilDialog')
const selectedItem = inject<Ref<CheckStock> | any>('selectedCheckStock')

const getFormattedDateTime = (date: Date | undefined): string | undefined => {
  if (date) {
    return new Date(date).toLocaleString('th-TH', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit'
    })
  }
  return undefined
}
</script>

<template>
  <v-dialog v-model="dialog" max-width="550px">
    <v-card class="mx-auto" width="550px" height="1000px" style="border-radius: 5px">
      <div style="margin: 20px">
        <div style="display: flex; justify-content: space-between">
          <div>ชื่อ &nbsp;&nbsp;&nbsp; {{ selectedItem?.user?.fullName }}</div>

          <div>วันที่ {{ getFormattedDateTime(selectedItem?.checkDate) }}</div>
        </div>
      </div>
      <v-table v-if="selectedItem !== undefined && selectedItem !== null">
        <thead>
          <tr>
            <th>#</th>
            <th>ชื่อ</th>
            <th>ก่อน</th>
            <th>หลัง</th>
            <th>หน่วย</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) of selectedItem.checkRawMaterialDetails">
            <td>{{ index + 1 }}</td>
            <td>{{ item.rawMaterial.name }}</td>
            <td>{{ item.bfCheck }}</td>
            <td>{{ item.atCheck }}</td>
            <td>{{ item.rawMaterial.unit }}</td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-dialog>
</template>
