<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { useCheckStockStore } from '@/stores/checkStock'
import { useCheckStockDetailStore } from '@/stores/checkStockDetail '
import { useRawMaterialStore } from '@/stores/rawMaterial'
import { inject, nextTick, ref, toRefs, type Ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { RawMaterial } from '@/types/RawMaterial'
import { useLoadingStore } from '@/stores/loading'

const dialog = inject<Ref<boolean>>('checkStock')
const rawMaterialStore = useRawMaterialStore()
const checkStockStore = useCheckStockStore()
const authStore = useAuthStore()
const checkStockDetailStore = useCheckStockDetailStore()
const loaddingStore = useLoadingStore()
const refForm = ref<VForm | null>(null)

function onSubmit() {}

// const initialMax: Record<number, number> = {}
// function getInitialMax(item: RawMaterial) {
//   if (item.id)
//     if (!initialMax[item.id]) {
//       initialMax[item.id] = item.quantity!
//     }
//   return initialMax[item.id!]
// }

const headers = [
  {
    title: 'ID',
    key: 'id',
    value: 'id',
    sortable: false
  },
  {
    title: 'ชื่อ',
    key: 'name',
    value: 'name',
    sortable: false
  },

  {
    title: 'จำนวน',
    key: 'quantity',
    value: 'quantity',
    sortable: false
  },
  {
    title: 'หน่วย',
    key: 'unit',
    value: 'unit',
    sortable: false
  }
]

function cancle() {
  if (dialog) {
    dialog.value = false
  }
}

async function save() {
  loaddingStore.doLoad()
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  checkStockStore.editedCheckStock.checkDate = new Date()
  checkStockStore.editedCheckStock.user = authStore.getCurrentUser()
  await checkStockStore.saveCheckStock()
  await checkStockStore.getLastId()
  checkStockStore.editedCheckStock.id = checkStockStore.lastId
  checkStockDetailStore.editedCheckStockDetail.checkStock = checkStockStore.editedCheckStock
  checkStockStore.clearForm()
  const rawMaterials = rawMaterialStore.rawMaterials
  const editedRawMaterials = rawMaterialStore.editedRawMaterials
  const minLength = Math.min(rawMaterials.length, editedRawMaterials.length)
  for (let i = 0; i < minLength; i++) {
    const rawMaterial = rawMaterials[i]
    const editedRawMaterial = editedRawMaterials[i]
    checkStockDetailStore.editedCheckStockDetail.bfCheck = rawMaterial.stocks[0].quantity!
    rawMaterialStore.rawMaterials = editedRawMaterials
    rawMaterialStore.copyrawMaterials()
    rawMaterialStore.editedRawMaterial = JSON.parse(JSON.stringify(editedRawMaterial))
    checkStockDetailStore.editedCheckStockDetail.rawMaterial = rawMaterialStore.editedRawMaterial
    await rawMaterialStore.saveStock()
    if (editedRawMaterial.stocks[0].quantity)
      checkStockDetailStore.editedCheckStockDetail.atCheck = editedRawMaterial.stocks[0].quantity
    await checkStockDetailStore.saveCheckStocksDetail()
  }
  await rawMaterialStore.getRawMaterials()
  await checkStockStore.getCheckStocks()
  await checkStockDetailStore.getCheckStocksDetails()
  rawMaterialStore.clearForm()
  rawMaterialStore.clearForm()
  checkStockDetailStore.clearForm()
  loaddingStore.finishLoad()
  cancle()
}
</script>

<template>
  <v-dialog v-model="dialog" persistent width="550px" height="auto">
    <v-container style="background-color: rgb(230, 237, 250); border-radius: 5px; overflow: auto">
      <v-card height="550" style="overflow: auto">
        <v-form ref="refForm" @submit.prevent="onSubmit()">
          <v-data-table-virtual :headers="headers" :items="rawMaterialStore.editedRawMaterials" > 
            <!-- class="custom-table" -->
            <template v-slot:item.quantity="{ item }">
              <v-text-field
                v-if="item.stocks"
                style="width: 150px"
                v-model="item.stocks[0].quantity"
                :counter="10"
                hide-details
                min="0"
                type="number"
                :rules="[(v) => (v !== null && v >= 0 && v !== '') || 'กรุณากรอกข้อมูลให้ถูกต้อง']"
                class="ma-3"
              ></v-text-field>
            </template>
          </v-data-table-virtual>
        </v-form>
      </v-card>

      <v-row>
        <v-col cols="12" sm="12" md="3"></v-col>
        <v-col cols="12" sm="12" md="3"
          ><v-btn
            @click="cancle"
            width="1000px"
            class="mt-4"
            style="background-color: rgb(251, 103, 103); color: white"
            >ยกเลิก</v-btn
          ></v-col
        >
        <v-col cols="12" sm="12" md="3"
          ><v-btn
            @click="save"
            width="1000px"
            class="mt-4"
            style="background-color: rgb(72, 192, 72); color: white"
            >บันทึก</v-btn
          ></v-col
        >
      </v-row>
    </v-container>
  </v-dialog>
</template>
<!-- <style>

.custom-table {
  background-color: #424242;
  color: white;
}
</style> -->