<script setup lang="ts">
import { useOrderBillStore } from '@/stores/orderBill'
import { useRawMaterialStore } from '@/stores/rawMaterial'
import { inject, nextTick, ref, type Ref } from 'vue'

const rawMaterialStore = useRawMaterialStore()
const dialogDelete = inject<Ref<boolean>>('deleteImport')
const orderBillStore = useOrderBillStore()

function closeDelete() {
  if (dialogDelete) {
    dialogDelete.value = false
    nextTick(() => {
      rawMaterialStore.editedRawMaterial = Object.assign({}, rawMaterialStore.initialRawMaterial)
    })
  }
}

function deleteItemConfirm() {
  rawMaterialStore.rawMaterialItems = rawMaterialStore.rawMaterialItems.filter(
    (item) => item.id !== rawMaterialStore.editedRawMaterialItem.id
  )

  if (
    rawMaterialStore.editedRawMaterialItem.stocks[0].price &&
    rawMaterialStore.editedRawMaterialItem.stocks[0].quantity
  ) {
    orderBillStore.editedOrderBill.totalPrice -=
      rawMaterialStore.editedRawMaterialItem.stocks[0].price *
      rawMaterialStore.editedRawMaterialItem.stocks[0].quantity
  }
  closeDelete()
}
</script>
<template>
  <v-dialog v-model="dialogDelete"  max-width="400px">
    <v-card rounded="xl" style="overflow-y: hidden;">
      <v-toolbar flat color="#424242">
          <v-toolbar-title class="text-center" > ลบรายการ </v-toolbar-title>
      </v-toolbar>
      <div style="margin: auto; padding: 20px; font-size: 16px; text-align: center">
        คุณแน่ใจหรือไม่ว่าต้องการลบรายการนี้?
      </div>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-row>
          <v-col>
            <v-btn color="blue" variant="text" size="x-large" @click="closeDelete">ยกเลิก</v-btn>
          </v-col>
          <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
          <v-col>
            <v-btn color="red" variant="text" size="x-large" @click="deleteItemConfirm">ลบ</v-btn>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
