<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { useRawMaterialStore } from '@/stores/rawMaterial'
import { useStockStore } from '@/stores/stock'

import { inject, nextTick, ref, type Ref } from 'vue'
import type { VForm } from 'vuetify/components'

const rawMaterialStore = useRawMaterialStore()
const authStore = useAuthStore()
const stockStore = useStockStore()
function onSubmit() { }
const loading = ref(false)
const dialog = inject<Ref<boolean>>('edit')
const refForm = ref<VForm | null>(null)

function closeDialog() {
  if (dialog) {
    dialog.value = false
    nextTick(() => {
      rawMaterialStore.clearForm()
    })
  }
}

async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  await rawMaterialStore.saveRawMaterial()
  rawMaterialStore.editedRawMaterial.stocks[0].price = 0
  rawMaterialStore.editedRawMaterial.stocks[0].quantity = 0
  rawMaterialStore.editedRawMaterial.stocks[0].branch = authStore.getCurrentUser()?.branch
  await rawMaterialStore.getLastId()
  console.log(rawMaterialStore.lastId)
  await await rawMaterialStore.getRaw(rawMaterialStore.lastId)
  console.log(rawMaterialStore.edited)
  rawMaterialStore.editedRawMaterial.stocks[0].rawMaterial = rawMaterialStore.edited
  console.log(rawMaterialStore.editedRawMaterial.stocks[0].rawMaterial)

  await rawMaterialStore.saveStock()
  await rawMaterialStore.getRawMaterials()
  await stockStore.getStocks()

  closeDialog()
}
</script>
<template>
  <v-dialog v-model="dialog" persistent width="1024">
    <template v-slot:activator="{ props }">
      <!-- <v-btn color="blue" v-bind="props" variant="text"> New Stock</v-btn> -->
      <v-btn rounded="lg" variant="flat" color="amber" size="small" icon="mdi-package-variant" v-bind="props"></v-btn>
    </template>
    <v-card max-width="500" class="ma-auto">
      <!-- <v-card-title>
        <span class="text-h5">Stock</span>
      </v-card-title> -->
      <v-toolbar flat color="#424242">
        <v-toolbar-title style="margin-left: 40px;"> สต็อก </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-form ref="refForm" :v-model="rawMaterialStore.rawMaterials" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12">
                <div class="mb-2">ชื่อ:</div>
                <v-text-field v-model="rawMaterialStore.editedRawMaterial.name" :readonly="loading"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']" class="mb-2" clearable single-line
                  label="ชื่อ"></v-text-field>
              </v-col>

              <v-col cols="12">
                <div class="mb-2">จำนวนขั้นต่ำ:</div>
                <v-text-field v-if="rawMaterialStore.editedRawMaterial.stocks &&
    rawMaterialStore.editedRawMaterial.stocks.length > 0
    " v-model="rawMaterialStore.editedRawMaterial.stocks[0].minimum" :readonly="loading"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']" clearable single-line min="0" label="ราคาขั้นต่ำ"
                  type="number"></v-text-field>
              </v-col>
              <v-col cols="12">
                <div class="mb-2">หน่วย:</div>
                <v-text-field v-model="rawMaterialStore.editedRawMaterial.unit" :readonly="loading"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']" clearable single-line label="จำนวน"></v-text-field>
              </v-col>
              <v-col cols="12" sm="4">
                <v-img :src="'http://localhost:3000/images/rawMaterial/' +
    rawMaterialStore.editedRawMaterial.image
    " width="150" height="150"></v-img>
              </v-col>
              <v-col cols="12" sm="7">
                <v-file-input v-model="rawMaterialStore.editedRawMaterial.files" :rules="[
    (value) => {
      return (
        !value ||
        !value.length ||
        value[0].size < 2000000 ||
        'Avatar size should be less than 2 MB!'
      )
    }
  ]" accept="image/png, image/jpeg, image/bmp" label="เลือกรูปภาพ" placeholder="Pick an avatar"
                  prepend-icon="mdi-camera"></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-row>
          <v-col cols="12" sm="4">
            <v-btn variant="text" block @click="closeDialog()"> ยกเลิก </v-btn>
          </v-col>
          <v-col cols="12" sm="8">
            <v-btn color="blue" variant="flat" block @click="save()"> บันทึก </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
