<script setup lang="ts">
import ImportDetailDialog from './ImportDetailDialog.vue'
import CheckStockDeteilDialog from './CheckStockDeteilDialog.vue'
import { computed, inject, onMounted, provide, ref, type Ref } from 'vue'
import { useCheckStockStore } from '@/stores/checkStock'
import { useOrderBillStore } from '@/stores/orderBill'
import { useOrderBillDetailStore } from '@/stores/orderBillDetail'
import type { OrderBill } from '@/types/OrderBill'
import type { CheckStock } from '@/types/CheckStock'

const historyDialog = inject<Ref<boolean>>('historyDialog')
const checkStockStore = useCheckStockStore()
const orderBillStore = useOrderBillStore()
const orderBillDetailStore = useOrderBillDetailStore()
const tab = ref(null)
const selectedOrderBill = ref<OrderBill | null>(null)
const selectedCheckStock = ref<CheckStock | null>(null)
const importDetailDialog = ref(false)
const checkStockDeteilDialog = ref(false)

provide('importDetailDialog', importDetailDialog)
provide('checkStockDeteilDialog', checkStockDeteilDialog)
provide('selectedOrderBill', selectedOrderBill)
provide('selectedCheckStock', selectedCheckStock)

onMounted(async () => {
  await checkStockStore.getCheckStocks()
  await orderBillStore.getOrderBills()
  await orderBillDetailStore.getOrderBillDetails()
})

const getFormattedDateTime = (date: Date | null): string | undefined => {
  if (date) {
    return new Date(date).toLocaleString('th-TH', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit'
    })
  }
  return undefined
}

const setselectedOrderBill = (item: OrderBill) => {
  selectedOrderBill.value = item
}

const setselectedCheckStock = (item: CheckStock) => {
  selectedCheckStock.value = item
}
</script>
<template>
  <v-dialog v-model="historyDialog" max-width="550px">
    <v-card class="mx-auto" width="550px" height="1000px" style="border-radius: 5px">
      <div
  style="
    position: relative;
    width: 100%;
    background-color: #424242; /* เปลี่ยนสีพื้นหลังเป็น #424242 */
    z-index: 1000;
    border-radius: 5px;
  "
>
  <v-tabs v-model="tab" style="background-color: #424242"> <!-- สีพื้นหลังของ Tabs -->
    <v-tab value="one" style="color: white">ตรวจสอบสต็อก</v-tab> <!-- สีข้อความ -->
    <v-tab value="two" style="color: white">นำเข้า</v-tab> <!-- สีข้อความ -->
  </v-tabs>
</div>
      <div style="z-index: 500">
        <v-card-text>
          <v-window v-model="tab">
            <v-window-item value="one">
              <v-list>
                <v-list-item-group v-if="checkStockStore.checkStocks.length > 0">
                  <v-list-item
                    v-for="item in checkStockStore.checkStocks"
                    style="background-color: rgb(203, 226, 249); margin: 5px; border-radius: 10px"
                  >
                    <v-list-item-content>
                      <v-list-item
                        @click="
                          () => {
                            checkStockDeteilDialog = true
                            setselectedCheckStock(item)
                          }
                        "
                      >
                        <v-list-item-title>
                          <div
                            style="
                              display: grid;
                              grid-template-columns: repeat(4, 1fr);
                              gap: 10px;
                              text-align: center;
                            "
                          >
                            <div>{{ item.id }}</div>
                            <div>{{ getFormattedDateTime(item.checkDate) }}</div>
                          </div>
                        </v-list-item-title>
                      </v-list-item>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
                <v-list-item v-else>
                  <v-list-item-content>ไม่พบรายการการนำเข้าสินค้า</v-list-item-content>
                </v-list-item>
              </v-list>
            </v-window-item>

            <v-window-item value="two">
              <v-list>
                <v-list-item-group v-if="orderBillStore.orderBills.length > 0">
                  <v-list-item
                    v-for="item in orderBillStore.orderBills"
                    style="background-color: rgb(203, 226, 249); margin: 5px; border-radius: 10px"
                  >
                    <v-list-item-content>
                      <v-list-item
                        @click="
                          () => {
                            importDetailDialog = true
                            setselectedOrderBill(item)
                          }
                        "
                      >
                        <v-list-item-title>
                          <div
                            style="
                              display: grid;
                              grid-template-columns: repeat(4, 1fr);
                              gap: 10px;
                              text-align: center;
                            "
                          >
                            <div>{{ item.id }}</div>
                            {{ getFormattedDateTime(item.date) }}
                            <div>{{ item.store }}</div>
                            <div>ยอดรวม &nbsp;&nbsp;{{ item.totalPrice }}&nbsp;&nbsp;บาท</div>
                          </div></v-list-item-title
                        >
                      </v-list-item>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
                <v-list-item v-else>
                  <v-list-item-content>ไม่พบรายการการนำเข้าสินค้า</v-list-item-content>
                </v-list-item>
              </v-list>
            </v-window-item>
          </v-window>
        </v-card-text>
      </div>
    </v-card>
  </v-dialog>
  <import-detail-dialog></import-detail-dialog>
  <checkStockDeteilDialog></checkStockDeteilDialog>
</template>
