<script setup lang="ts">
import { useRawMaterialStore } from '@/stores/rawMaterial'

import { inject, provide, ref, type Ref } from 'vue'
import type { VForm } from 'vuetify/components'
import DeleteItemDialog from './DeleteItemDialog.vue'
import { useOrderBillStore } from '@/stores/orderBill'
import { useOrderBillDetailStore } from '@/stores/orderBillDetail'
import { useLoadingStore } from '@/stores/loading'
import { useAuthStore } from '@/stores/auth'
import type { RawMaterial } from '@/types/RawMaterial'

const loaddingStore = useLoadingStore()
const rawMaterialStore = useRawMaterialStore()
const orderBillStore = useOrderBillStore()
const orderBillDetailStore = useOrderBillDetailStore()
const authStore = useAuthStore()
const dialog = inject<Ref<boolean>>('importDialog')
const loading = ref(false)

const dialogDelete = ref(false)
const refForm = ref<VForm | null>(null)

const showMessage = ref(false)

provide('deleteImport', dialogDelete)

function useDateValidationRule(value: string | null): string | true {
  if (!value) return 'กรุณากรอกวันที่'

  const selectedDate = new Date(value)
  const currentDate = new Date()

  currentDate.setHours(0, 0, 0, 0)
  selectedDate.setHours(0, 0, 0, 0)

  if (selectedDate > currentDate) {
    return 'กรุณาเลือกวันที่ไม่เกินวันปัจจุบัน'
  }
  return true
}

async function openDialogDelete(rawMaterial: RawMaterial) {
  rawMaterialStore.editedRawMaterialItem = Object.assign({}, rawMaterial)
  // console.log(rawMaterialStore.editedRawMaterialItem)
  dialogDelete.value = true
}

rawMaterialStore.copyrawMaterials()

function onSubmit() {}

async function save() {
  if (rawMaterialStore.rawMaterialItems.length === 0) {
    showMessage.value = true
  } else {
    loaddingStore.doLoad()
    if (dialog) {
      orderBillStore.editedOrderBill.user = authStore.getCurrentUser()

      await orderBillStore.saveOrderBill()
      await orderBillStore.getLastId()
      orderBillStore.editedOrderBill.id = orderBillStore.lastId
      orderBillDetailStore.editedOrderBillDetail.orderBill = orderBillStore.editedOrderBill
      for (const [index, item] of (rawMaterialStore.rawMaterialItems as any[]).entries()) {
        rawMaterialStore.editedRawMaterial.id = item.id
        rawMaterialStore.editedRawMaterial.name = item.name
        rawMaterialStore.editedRawMaterial.stocks[0].id = item.stocks[0].id
        rawMaterialStore.editedRawMaterial.stocks[0].minimum = item.stocks[0].minimum
        rawMaterialStore.editedRawMaterial.stocks[0].quantity =
          Number(item.stocks[0].quantity) +
          Number(rawMaterialStore.rawMaterials[index].stocks[0].quantity)
        rawMaterialStore.editedRawMaterial.stocks[0].price = item.stocks[0].price
        rawMaterialStore.editedRawMaterial.unit = item.unit
        rawMaterialStore.editedRawMaterial.stocks[0].branch = authStore.getCurrentUser()?.branch
        if (rawMaterialStore.editedRawMaterialCopy.id)
          await rawMaterialStore.getRaw(rawMaterialStore.editedRawMaterialCopy.id)

        rawMaterialStore.editedRawMaterial.stocks[0].rawMaterial = rawMaterialStore.edited
        await rawMaterialStore.saveStock()
        rawMaterialStore.getRawMaterials()

        orderBillDetailStore.editedOrderBillDetail.rawMaterial.id = item.id
        orderBillDetailStore.editedOrderBillDetail.unitPrice = item.stocks[0].price!
        orderBillDetailStore.editedOrderBillDetail.quantity = item.stocks[0].quantity!
        orderBillDetailStore.editedOrderBillDetail.totalPrice =
          item.stocks[0].quantity! * item.stocks[0].price!

        rawMaterialStore.rawMaterialItems
        await orderBillDetailStore.saveOrderBillDetail()
      }
      showMessage.value = false
      dialog.value = false
      rawMaterialStore.clear()
      rawMaterialStore.clearRawMaterialCopy()
      orderBillStore.clearconsEteditedOrderBill()
      orderBillDetailStore.getOrderBillDetails()
      orderBillStore.getOrderBills()
      loaddingStore.finishLoad()
    }
  }
}

async function selected() {
  const { valid } = await refForm.value!.validate()
  if (valid) {
    rawMaterialStore.addItem()
  }
}
function cancel() {
  if (dialog) {
    rawMaterialStore.clear()
    showMessage.value = false
    dialog.value = false
    rawMaterialStore.clearRawMaterialCopy()
    orderBillStore.clearconsEteditedOrderBill()
  }
}
</script>

<template>
  <v-dialog v-model="dialog" persistent width="1000px">
    <v-container
      style="
        overflow: auto;
        max-height: 700px;
        background-color: rgb(230, 237, 250);
        border-radius: 5px;
      "
    >
      <v-card height="350" style="overflow-y: auto">
        <v-card-text
          class="text-center"
          style="background-color: #424242; color: white; font-size: 22px"
          >รับสินค้าเข้าสต็อก</v-card-text
        >

        <v-card-text>
          <v-form ref="refForm" @submit.prevent="onSubmit()">
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  :readonly="loading"
                  class="mb-2"
                  clearable
                  label="ร้านค้าที่นำเข้า"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล']"
                  v-model="orderBillStore.editedOrderBill.store"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field
                  :readonly="loading"
                  class="mb-2"
                  clearable
                  label="วันที่"
                  type="date"
                  v-model="orderBillStore.editedOrderBill.date"
                  :rules="[(v) => !!v || 'กรุณากรอกข้อมูล', useDateValidationRule]"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="2">
                <v-autocomplete
                  label="ID"
                  auto-select-first
                  :items="rawMaterialStore.rawMaterialCopy"
                  v-model="rawMaterialStore.editedRawMaterialCopy"
                  item-title="id"
                  return-object
                  hide-details
                  ><template v-slot:no-data>
                    <div class="px-4">ไม่พบรายการที่คุณค้นหา</div>
                  </template></v-autocomplete
                >
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-autocomplete
                  label="ชื่อ"
                  auto-select-first
                  :items="rawMaterialStore.rawMaterialCopy"
                  v-model="rawMaterialStore.editedRawMaterialCopy"
                  item-title="name"
                  return-object
                  ><template v-slot:no-data>
                    <div class="px-4">ไม่พบรายการที่คุณค้นหา</div>
                  </template></v-autocomplete
                >
              </v-col>

              <v-col cols="12" sm="12" md="3">
                <v-text-field
                  :disabled="
                    rawMaterialStore.editedRawMaterialCopy.id === null ||
                    rawMaterialStore.editedRawMaterialCopy.name === undefined
                  "
                  v-if="
                    rawMaterialStore.editedRawMaterialCopy.stocks &&
                    rawMaterialStore.editedRawMaterialCopy.stocks.length > 0
                  "
                  v-model="rawMaterialStore.editedRawMaterialCopy.stocks[0].quantity"
                  :readonly="loading"
                  :rules="[(v) => (v !== null && v > 0) || 'กรุณากรอกข้อมูลให้ถูกต้อง']"
                  class="mb-2"
                  clearable
                  label="ปริมาณ"
                  type="number"
                  min="0"
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="12" md="3">
                <v-text-field
                  v-if="
                    rawMaterialStore.editedRawMaterialCopy.stocks &&
                    rawMaterialStore.editedRawMaterialCopy.stocks.length > 0
                  "
                  :disabled="
                    rawMaterialStore.editedRawMaterialCopy.id === null ||
                    rawMaterialStore.editedRawMaterialCopy.name === undefined ||
                    rawMaterialStore.editedRawMaterialCopy.stocks[0].price === undefined
                  "
                  v-model="rawMaterialStore.editedRawMaterialCopy.stocks[0].price"
                  :readonly="loading"
                  :rules="[(v) => (v !== null && v > 0) || 'กรุณากรอกข้อมูลให้ถูกต้อง']"
                  class="mb-2"
                  clearable
                  label="ราคา"
                  type="number"
                  min="0"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-row>
          <v-col cols="12" sm="4"></v-col>
          <v-col cols="12" sm="4">
            <v-btn
              color="primary"
              @click="selected"
              width="1000"
              class="mx-auto"
              prepend-icon="mdi-plus"
              >เพิ่ม</v-btn
            ></v-col
          >
        </v-row>
      </v-card>

      <v-table>
        <thead>
          <tr>
            <th>#</th>
            <th>ชื่อ</th>
            <th>ปริมาณ</th>
            <th>ราคา</th>
            <th>หน่วย</th>
            <th>ราคารวม</th>
            <th>แก้ไข, ลบ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) of rawMaterialStore.rawMaterialItems">
            <td>{{ index + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>
              <!-- <v-btn icon="mdi-minus" size="x-small" variant="tonal" @click="decQty(item)"></v-btn> -->

              {{ item.stocks[0].quantity }}
              <!-- <v-btn icon="mdi-plus" size="x-small" variant="tonal" @click="incQty(item)"></v-btn> -->
            </td>
            <td>
              <!-- <v-btn icon="mdi-minus" size="x-small" variant="tonal" @click=""></v-btn> -->
              {{ item.stocks[0].price }}
              <!-- <v-btn icon="mdi-plus" size="x-small" variant="tonal" @click=""></v-btn> -->
            </td>
            <td>{{ item.unit }}</td>

            <td>
              {{
                item.stocks[0].price !== null && item.stocks[0].quantity !== null
                  ? item.stocks[0].price * item.stocks[0].quantity
                  : 0
              }}
            </td>
            <td>
              <v-btn color="red" @click="openDialogDelete(item)">ลบ</v-btn>
            </td>
          </tr>

          <tr style="height: 60px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="font-size: 16px">ยอดรวม</td>
            <td>{{ orderBillStore.editedOrderBill.totalPrice }}</td>
            <td></td>
          </tr>
        </tbody>
      </v-table>

      <!-- </v-card> -->
      <div style="height: 30px"></div>
      <v-row>
        <v-col cols="12" sm="12" md="3"> </v-col>
        <v-col cols="12" sm="12" md="3">
          <v-btn
            style="background-color: rgb(251, 103, 103); color: white"
            prepend-icon="mdi-close"
            width="1000px"
            @click="cancel"
            >ยกเลิก</v-btn
          >
        </v-col>
        <v-col cols="12" sm="12" md="3">
          <v-btn
            style="background-color: rgb(72, 192, 72); color: white"
            prepend-icon="mdi-content-save-outline"
            width="1000px"
            @click="save"
            >บันทึก</v-btn
          >
        </v-col>
      </v-row>
      <div v-if="showMessage" style="color: red; text-align: center; margin-top: 10px">
        กรุณาใส่ข้อมูลในรายการ
      </div>
    </v-container>
  </v-dialog>
  <DeleteItemDialog></DeleteItemDialog>
</template>
