<script setup lang="ts">
import type { OrderBill } from '@/types/OrderBill'
import { inject, type Ref } from 'vue'

const dialog = inject<Ref<boolean>>('importDetailDialog')

const selectedItem = inject<Ref<OrderBill> | any>('selectedOrderBill')
const getFormattedDateTime = (date: Date | undefined): string | undefined => {
  if (date) {
    return new Date(date).toLocaleString('th-TH', {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit',
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit'
    })
  }
  return undefined
}
</script>

<template>
  <v-dialog v-model="dialog" max-width="550px">
    <v-card class="mx-auto" width="550px" height="1000px" style="border-radius: 5px">
      <div style="margin: 20px">
        <div style="display: flex; justify-content: space-between">
          <div>ร้านค้าที่นำเข้า {{ selectedItem?.store }}</div>
          <div>วันที่ &nbsp;&nbsp;{{ getFormattedDateTime(selectedItem?.date) }}</div>
        </div>
        <div>ชื่อ &nbsp;&nbsp;&nbsp; {{ selectedItem?.user?.fullName }}</div>
      </div>
      <v-table v-if="selectedItem !== undefined && selectedItem !== null">
        <thead>
          <tr>
            <th>#</th>
            <th>ชื่อ</th>
            <th>ปริมาณ</th>
            <th>ราคา</th>
            <th>หน่วย</th>
            <th>รวม</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) of selectedItem.orderBillDetails">
            <td>{{ index + 1 }}</td>
            <td>{{ item.rawMaterial.name }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.rawMaterial.unit }}</td>

            <td>
              {{ item.totalPrice }}
            </td>
          </tr>

          <tr style="height: 60px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="font-size: 16px">ยอดรวม</td>
            <td>{{ selectedItem.totalPrice }}</td>
            <td></td>
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-dialog>
</template>
