<script setup lang="ts">
import { useRawMaterialStore } from '@/stores/rawMaterial'
import { inject, type Ref } from 'vue'

const dialog = inject<Ref<boolean>>('printcCheckStockDialog')
const rawMaterialStore = useRawMaterialStore()
</script>

<template>
  <v-dialog v-model="dialog" width="500px">
    <v-card>
      <v-card-text class="text-center" style="background-color: #424242; color: white;">ใบเช็คสต็อก</v-card-text>
      <v-card-text> วันที่_____ </v-card-text>
      <v-card> </v-card>
      <v-table dense>
        <thead>
          <tr>
            <th class="text-left">ID</th>
            <th class="text-left">Name</th>
            <th class="text-left">Calories</th>
            <th class="text-left">Balance</th>
            <th class="text-left">Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in rawMaterialStore.rawMaterials">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.stocks[0].quantity }}</td>
            <td>________</td>
            <td>{{ item.unit }}</td>
          </tr>
        </tbody>
      </v-table>

      <v-card-text> ผู้ตรวจสอบ : __________</v-card-text>
      <v-card-text> หมายเหตุ : __________</v-card-text>

      <v-card-actions>
        <v-btn color="primary" block @click="dialog = false">พิมพ์</v-btn>
      </v-card-actions>

      <v-card-actions>
        <v-btn color="primary" block @click="dialog = false">ยกเลิก</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
