<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import type { Receipt } from '@/types/Receipt'
import { onMounted, ref } from 'vue'
import { formatDate } from 'date-fns'
import { useCheckStockStore } from '@/stores/checkStock'
import { format } from 'date-fns'
import type { User } from '@/types/User'
import type { CheckStock } from '@/types/CheckStock'

const receiptStore = useReceiptStore()
const currentDate = new Date()
const formattedDate = formatDate(currentDate, 'yyyy-MM')
const month = ref(formattedDate)
const checkStockStore = useCheckStockStore()

const search = ref('')
const headers = [
  { key: 'id', title: 'ID', value: 'id' },
  { key: 'checkDate', title: 'วันที่', value: 'checkDate' },
  { key: 'user.fullName', title: 'ผู้ใช้', value: 'user.fullName' },
  { key: 'actions', title: 'รายละเอียด', sortable: false }
]

async function openDialog(item: CheckStock) {
  receiptStore.clear()
  await checkStockStore.getCheckStocks(item)

  receiptStore.openDialog = true
}

async function find() {
  await checkStockStore.getCheckStocks()
  const selectedMonth = new Date(month.value)
  const select = checkStockStore.checkStocks.filter((checkStock) => {
    const checkDate = new Date(checkStock.checkDate)

    return (
      checkDate.getMonth() === selectedMonth.getMonth() &&
      checkDate.getFullYear() === selectedMonth.getFullYear()
    )
  })
  checkStockStore.checkStocks = select
}

onMounted(async () => {
  checkStockStore.getCheckStocks()
  // if (authStore.currentUser?.role.id === 2 || authStore.currentUser?.role.id === 1) {
  //   await receiptStore.getReceiptsByUser(authStore.currentUser)
  // } else {
  //   await receiptStore.getReceipts()
  // }
  // console.log(receiptStore.receipts.map((item) => item.id))
})
</script>
<template>
    <v-card style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh">
  <v-card flat class="ma-5" elevation="3" color="grey-darken-4">
    <v-data-table :headers="headers" :items="checkStockStore.checkStocks" :search="search" height="484">
      <template v-slot:top>
        <v-toolbar flat color="grey-darken-4">
            <v-toolbar-title> ประวัติสต็อก </v-toolbar-title>
            <v-row>
              <v-col></v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                v-model="search"
                variant="outlined"
                append-inner-icon="mdi-magnify"
                density="compact"
                label="ค้นหารายชื่อ"
                class="custom-text-field"
                hide-details
                single-line
              ></v-text-field>
              </v-col>
            </v-row>
              <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
              <v-col cols="12" sm="2" class="select-column">
                <v-text-field density="compact" type="month" label="เดือน" v-model="month"></v-text-field>
              </v-col>
            <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
            <v-btn rounded="lg" variant="flat" color="amber">ค้นหา</v-btn>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
          <v-icon class="mr-2" size="small" icon="mdi-magnify" @click="openDialog(item)"></v-icon>
        </template>
    </v-data-table>
    <receipt-history-dialog></receipt-history-dialog>
  </v-card>
</v-card>

  <!-- <v-card
    style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh"
  >
    <v-card flat title="ประวัติสต็อก" class="ma-5" elevation="3" color="grey-darken-4">
      <template v-slot:text>
        <v-row>
          <v-col cols="3">
            <v-text-field
              v-model="search"
              label="ค้นหา"
              prepend-inner-icon="mdi-magnify"
              single-line
              variant="outlined"
              hide-details
            ></v-text-field>
          </v-col>
          <v-col cols="2">
            <v-text-field type="month" label="เดือน" v-model="month"></v-text-field>
          </v-col>

          <v-col cols="2">
            <v-btn size="x-large" height="56" @click="find()">ค้นหา</v-btn>
          </v-col>
        </v-row>
      </template>
      <v-data-table
        :headers="headers"
        :items="checkStockStore.checkStocks"
        :search="search"
        height="420"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon class="mr-2" size="small" icon="mdi-magnify" @click="openDialog(item)"></v-icon>
        </template>
      </v-data-table>
      <receipt-history-dialog></receipt-history-dialog>
    </v-card>
  </v-card> -->
</template>
<style>
.select-column {
  margin-top: 22px; /* ปรับขึ้นลงตามที่ต้องการ */
}
</style>
