<script setup lang="ts">
import { nextTick, provide } from 'vue'
import { onMounted, ref, type Ref } from 'vue'
import PrintCheckStockDialog from './PrintCheckStockDialog.vue'
import CheckStock from './CheckStockDialog.vue'
import importDialog from './ImportDialog.vue'
import EditDialog from './EditDialog.vue'
import { useRawMaterialStore } from '@/stores/rawMaterial'
import HistoryDialog from './HistoryDialog.vue'
import type { RawMaterial } from '@/types/RawMaterial'
import { useStockStore } from '@/stores/stock'
import { useLoadingStore } from '@/stores/loading'

const dialogPrint = ref(false)
const dialogCheckStock = ref(false)
const dialogDelete = ref(false)
const dialogEdit = ref(false)
const dialogImport = ref(false)
const dialogHistory = ref(false)

const rawMaterialStore = useRawMaterialStore()
const stockStore = useStockStore()

provide('printcCheckStockDialog', dialogPrint)
provide('checkStock', dialogCheckStock)
provide('edit', dialogEdit)
provide('delete', dialogDelete)
provide('importDialog', dialogImport)
provide('historyDialog', dialogHistory)
const loadingStore = useLoadingStore()

onMounted(async () => {
  await loadingStore.doLoad()
  await rawMaterialStore.getRawMaterials()
  await stockStore.getStocks()
  await loadingStore.finishLoad()
})
const selectedStatus = ref('All')
const search: Ref<string> = ref('')
const headers = [
  {
    title: 'ลำดับ',
    key: 'id',
    value: 'id'
  },
  {
    title: 'รูป',
    key: 'image'
  },
  {
    title: 'ชื่อสิ้นค้า',
    key: 'name',
    value: 'name'
  },
  {
    title: 'ราคา',
    key: 'price',
    value: 'stocks[0].price'
  },
  {
    title: 'ขั้นต่ำ',
    key: 'minimum',
    value: 'stocks[0].minimum'
  },
  {
    title: 'ปริมาณ',
    key: 'quantity',
    value: 'stocks[0].quantity'
  },
  {
    title: 'จำนวน',
    key: 'unit',
    value: 'unit'
  },
  {
    title: 'สถานะ',
    key: 'status',
    value: 'stocks[0].status'
  },
  {
    title: 'แก้ไข,ลบ',
    key: 'actions'
  }
]

function filterStocks(rawMaterial: RawMaterial) {
  if (rawMaterial.stocks && rawMaterial.stocks.length > 0)
    if (selectedStatus.value === 'All') {
      return true
    } else if (selectedStatus.value === 'Low Stock') {
      return rawMaterial.stocks[0].status === 'Low Stock'
    } else if (selectedStatus.value === 'Out of Stock') {
      return rawMaterial.stocks[0].status === 'Out of Stock'
    } else if (selectedStatus.value === 'Normal') {
      return rawMaterial.stocks[0].status === 'Normal'
    }
}

function editstock(rawMaterial: RawMaterial) {
  rawMaterialStore.editedRawMaterial = Object.assign({}, rawMaterial)
  dialogEdit.value = true
}

function openCheckStock() {
  rawMaterialStore.initialize()
  rawMaterialStore.copyrawMaterials()
  dialogCheckStock.value = true
}

function openImport() {
  rawMaterialStore.initialize()
  dialogImport.value = true
}

async function deleteItem(item: RawMaterial) {
  if (!item.id) return
  await rawMaterialStore.getRawMaterial(item.id)
  dialogDelete.value = true
}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    rawMaterialStore.clearForm()
  })
}

async function deleteItemConfirm() {
  await rawMaterialStore.delRawMaterial()
  closeDelete()
}
</script>

<template>
  <v-card style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh">
    <v-card flat class="ma-5" elevation="3" color="grey-darken-4">
      <v-data-table :headers="headers" :items="rawMaterialStore.rawMaterials.filter(filterStocks)" height="484">
        <template v-slot:top>
          <v-toolbar flat color="grey-darken-4">
            <v-toolbar-title> สต็อก </v-toolbar-title>
            <v-row>
              <v-col></v-col>
              <v-col cols="12" sm="3" class="select-column">
                <v-select :items="['All', 'Normal', 'Low Stock', 'Out of Stock']" v-model="selectedStatus"
                  item-color="primary" density="compact"></v-select>
              </v-col>
            </v-row>
            <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
            <v-col cols="12" sm="2">
              <v-text-field v-model="search" variant="outlined" append-inner-icon="mdi-magnify" density="compact"
                label="ค้นหารายชื่อ" class="custom-text-field" hide-details single-line></v-text-field>
            </v-col>
            <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
            <template v-slot:append>
              <EditDialog></EditDialog>
            </template>
          </v-toolbar>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon size="small" class="me-2" @click="editstock(item)"> mdi-pencil </v-icon>
          <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
        </template>
        <template v-slot:[`item.image`]="{ item }">
          <v-img :src="'http://localhost:3000/images/rawMaterial/' + item.image" width="150" height="150"></v-img>
        </template>
        <template v-slot:[`item.status`]="{ item }">
          <span v-if="item.stocks && item.stocks.length > 0" :style="{
        color:
          item.stocks[0].status === 'Low Stock'
            ? 'orange'
            : item.stocks[0].status === 'Out of Stock'
              ? 'red'
              : 'green'
      }">{{ item.stocks[0].status }}</span>
        </template>
      </v-data-table>
      <v-row>
        <v-col cols="12" sm="12" md="2"><v-btn width="100%" color="blue" class="text-none text-subtitle-1"
            @click="dialogHistory = true" prepend-icon="mdi-clipboard-text-clock-outline">ประวัติ</v-btn></v-col>
        <v-col cols="12" md="5"></v-col>
        <v-col cols="6" sm="3" md="1"><v-btn width="100%" style="
              align-items: center;
              justify-content: center;
              background-color: rgb(124, 134, 168);
            " @click="dialogPrint = true"><v-icon style="color: white">mdi-printer</v-icon></v-btn></v-col>
        <v-col cols="6" sm="3" md="2"><v-btn width="100%" color="green" class="text-none text-subtitle-1"
            @click="openCheckStock" prepend-icon="mdi-checkbox-marked-outline">ตรวจสอบสต็อก</v-btn></v-col>
        <v-col cols="12" sm="6" md="2"><v-btn width="100%" class="text-none text-subtitle-1" color="teal"
            @click="openImport" prepend-icon="mdi-import">นำเข้า
          </v-btn></v-col>
      </v-row>
      <importDialog></importDialog>
      <PrintCheckStockDialog></PrintCheckStockDialog>
      <CheckStock></CheckStock>
      <HistoryDialog></HistoryDialog>
    </v-card>
  </v-card>
</template>
<style>
.select-column {
  margin-top: 22px;
  /* ปรับขึ้นลงตามที่ต้องการ */
}
</style>