<script setup lang="ts">
import { useCheckInOutStore } from '@/stores/checkInOut'
import { onMounted, ref } from 'vue'

const search = ref('')
const selected = ref('All')
const checkInStore = useCheckInOutStore()
const headers = [
  { key: 'id', title: 'ID', value: 'id' },
  { key: 'user.fullName', title: 'ชื่อ', value: (item: any) => `${item.user.fullName}` },
  {
    key: 'Check In',
    title: 'วันที่',
    value: (item: any) => checkInStore.formatDate(new Date(item.checkIn))
  },
  {
    key: 'checkIn',
    title: 'เวลาเข้างาน',
    value: (item: any) => checkInStore.formatTime(new Date(item.checkIn))
  },
  {
    key: 'checkOut',
    title: 'เวลาออกงาน',
    value: (item: any) => checkInStore.formatTime(new Date(item.checkOut))
  },
  { key: 'staus', title: 'สถานะ', value: 'status' },
  { key: 'hour', title: 'จำนวนชั่วโมง', value: 'hour' },
  { key: 'user.branch.name', title: 'สาขา', value: (item: any) => `${item.user.branch.name}` }
]

onMounted(async () => {
  await checkInStore.getCheckInOuts()
})
</script>

<template>
  <v-card
    style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh"
  >
    <v-card flat class="ma-5" elevation="3">
      <v-toolbar flat color="grey-darken-4">
        <v-toolbar-title> ประวัติการเข้า-ออกงาน </v-toolbar-title>
        <v-row>
          <v-col></v-col>
          <!-- <v-col cols="12" sm="3" class="select-column">
            <v-select :items="['All', 'Low Stock']" v-model="selectedStatus" item-color="primary"
              density="compact"></v-select>
          </v-col> -->
        </v-row>

        <v-col cols="12" sm="2">
          <v-text-field
            v-model="search"
            variant="outlined"
            append-inner-icon="mdi-magnify"
            density="compact"
            label="ค้นหา"
            class="custom-text-field"
            hide-details
            single-line
          ></v-text-field>
        </v-col>
        <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
      </v-toolbar>
      <v-data-table :headers="headers" :items="checkInStore.checkInOutsAll" height="484">
      </v-data-table>
    </v-card>
  </v-card>

  <!-- <v-card flat title="Check in-out" class="ma-5" elevation="3" color="grey-darken-4">
    <template v-slot:text>
      <v-row>
        <v-col cols="12" sm="10">
          <v-text-field v-model="search" label="Search" prepend-inner-icon="mdi-magnify" single-line variant="outlined"
            hide-details></v-text-field>
        </v-col>
        <v-col cols="12" sm="2">
          <v-select :items="['All', 'Low Stock']" v-model="selectedStatus" item-color="primary"></v-select>
        </v-col>
      </v-row>
    </template>

<v-data-table :headers="headers" :items="authStore.getCurrentUser()?.role.name === 'owner'
              ? checkInStore.checkInOutsAll
              : checkInStore.checkInOutsMyOwn
            " :search="search" height="420"></v-data-table>
</v-card> -->
</template>
<style>
.select-column {
  margin-top: 22px;
  /* ปรับขึ้นลงตามที่ต้องการ */
}
</style>
