<script setup lang="ts">
import { onMounted, provide, ref } from 'vue'
import { useRawMaterialStore } from './stores/rawMaterial'
// import { useAddStockStore } from './stores/addStock'
import { useRoute } from 'vue-router'
import FullLayout from './layout/FullLayout.vue'
import MainLayout from './layout/MainLayout.vue'
import LoadingDialog from './components/LoadingDialog.vue'

const rail = ref(false)
const drawer = ref(true)
provide('rail', rail)
provide('drawer', drawer)

const route = useRoute()
const rawMaterialStore = useRawMaterialStore()
// const addStockStore = useAddStockStore()

onMounted(() => {
  // addStockStore.initialize()
  // addStockStore.initialReceitpImport
})
</script>

<template>
  <component :is="route.meta.layout === 'FullLayout' ? FullLayout : MainLayout"></component>
  <loading-dialog></loading-dialog>
</template>
