<script setup lang="ts">
import { useSalaryStore } from '@/stores/salary'
import type { Salary } from '@/types/Salary'

const salaryStore = useSalaryStore()

function closeDialog() {
  salaryStore.delDialogSalaryInfo = false
  salaryStore.clear()
}

function deleteItem() {
  salaryStore.deleteItem()
  closeDialog()
}
</script>

<template>
  <v-dialog v-model="salaryStore.delDialogSalaryInfo" max-width="500px">
    <v-card v-if="salaryStore.arrUserPayment[salaryStore.indexInfo - 1].length > 0">
      <div style="margin: auto; padding: 15px 5px; font-size: 20px; text-align: center">
        คุณแน่ใจหรือไม่ว่าต้องการลบการชำระเงินนี้?
      </div>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="closeDialog()">ยกเลิก</v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="deleteItem()">ลบ</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
