<script setup lang="ts">
import { useSalaryStore } from '@/stores/salary';
import { useUserStore } from '@/stores/user';
import type { Salary } from '@/types/Salary';
import type { User } from '@/types/User';
import { onMounted, ref } from 'vue';


onMounted(async () => {
    await salaryStore.getSalaries()
})
const userStore = useUserStore()
const search = ref('')
const salaryStore = useSalaryStore()
const infoHistory = [
    { key: 'id', title: 'ID', value: 'id' },
    { key: 'name', title: 'ชื่อ', value: (item: any | User) => item.user.fullName },
    { key: 'branch', title: 'สาขา', value: (item: any | User) => item.user.branch.name },
    { key: 'role', title: 'ตำแหน่ง', value: (item: any | User) => item.user.role.name },
    {
        key: 'payMonth',
        title: 'เดือน',
        value: (item: any | Salary) => {
            const payMonth = new Date(item.payMonth).toLocaleDateString()
            return payMonth
        }
    },
    {
        key: 'payDate',
        title: 'วัน',
        value: (item: any | Salary) => {
            const payDate = new Date(item.payDate).toLocaleDateString()
            return payDate
        }
    },
    { key: 'salaryRate', title: 'เงินเดือน', value: (item: any | User) => item.user.salaryRate },
    { key: 'deduction', title: 'ยอดที่หัก', value: 'deduction' },
    { key: 'bonus', title: 'โบนัส', value: 'bonus' },
    { key: 'total', title: 'รวม', value: 'total' },
    { key: 'paymentType', title: 'การจ่ายเงิน', value: 'paymentType' },
]
</script>

<template>
    <v-card style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh">
        <v-card flat class="ma-5" elevation="3">
            <v-toolbar flat color="grey-darken-4">
                <v-toolbar-title>ประวัติการจ่ายเงินเดือน</v-toolbar-title>
                <v-row>
                    <v-col></v-col>
                    <v-col cols="12" sm="5">
                        <v-text-field v-model="search" variant="outlined" append-inner-icon="mdi-magnify"
                            density="compact" label="Search" class="custom-text-field" hide-details
                            single-line></v-text-field>
                    </v-col>
                </v-row>
                <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
            </v-toolbar>
            <v-container>
                <v-data-table :headers="infoHistory"
                    :items="salaryStore.salaries.filter((obj) => obj.user.role.id !== 3)" :search="search" height="484">
                </v-data-table>
            </v-container>
        </v-card>
    </v-card>
    <del-dialog-salary-info></del-dialog-salary-info>
</template>