<script setup lang="ts">
import { ref } from 'vue'
import { provide } from 'vue'
import type { User } from '@/types/User'
import { useUserStore } from '@/stores/user'
import { useSalaryStore } from '@/stores/salary'
import SalaryDialog from './SalaryDialog.vue'
import SalaryDialogInfo from './SalaryDialogInfo.vue'

const salaryStore = useSalaryStore()
const search = ref('')
const dialogPayment = ref(false)
provide('dialogPayment', dialogPayment)
const dialogInfo = ref(false)
provide('dialogInfo', dialogInfo)
const userStore = useUserStore()
const headers = [
  { key: 'id', title: 'ID', value: 'id' },
  { key: 'fullName', title: 'ชื่อ', value: 'fullName' },
  { key: 'gender', title: 'เพศ', value: 'gender' },
  { key: 'role', title: 'ตำแหน่ง', value: (item: any | User) => item.role.name },
  { key: 'branch', title: 'สาขา', value: (item: any | User) => item.branch.name },
  // { key: 'empType', title: 'Employee Type' },
  { key: 'actions', title: 'จ่ายเงิน, ข้อมูล', sortable: false }
]
const name = ref('')
const id = ref()
provide('name', name)
provide('id', id)

userStore.getUsers()

function openDialog(item: User) {
  userStore.editedUser = Object.assign({}, item)
  dialogPayment.value = true
}

async function openInfoDialog(item: User) {
  salaryStore.clear()
  if (!item.id) return
  name.value = userStore.editedUser.fullName
  id.value = userStore.editedUser.id
  await userStore.getUser(item.id)
  dialogInfo.value = true
  salaryStore.getSalaries()
}
</script>
<template>
  <v-card style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh">
    <v-card flat class="ma-5" elevation="3">
      <v-data-table :headers="headers" :items="userStore.users.filter((obj) => obj.role.id !== 3)" :search="search"
        height="484">
        <template v-slot:top>
          <v-toolbar flat color="grey-darken-4">
            <v-toolbar-title> การจ่ายเงินเดือน </v-toolbar-title>
            <v-row>
              <v-col></v-col>
              <v-col cols="12" sm="5">
                <v-text-field v-model="search" variant="outlined" append-inner-icon="mdi-magnify" density="compact"
                  label="ค้นหาชื่อ/ชื่อสาขา" class="custom-text-field" hide-details single-line></v-text-field>
              </v-col>
            </v-row>
            <v-divider class="mx-4 custom-divider" inset vertical></v-divider>
          </v-toolbar>


        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn prepend-icon="mdi-currency-usd" color="green" width="90" @click="openDialog(item)">จ่ายเงิน</v-btn>
          <v-btn prepend-icon="mdi-information-outline" color="blue" class="mx-2" width="90"
            @click="openInfoDialog(item)">ข้อมูล</v-btn>
        </template>
      </v-data-table>
      <SalaryDialog></SalaryDialog>
      <SalaryDialogInfo></SalaryDialogInfo>
    </v-card>
  </v-card>

  <!-- <v-card style="background-image: url('./img/coffback1.jpg'); background-size: cover; height: 100vh">
    <v-card flat title="Salary Payment" class="ma-5" elevation="3" color="grey-darken-4">
      <template v-slot:text>
        <v-text-field v-model="search" label="Search" prepend-inner-icon="mdi-magnify" single-line variant="outlined"
          hide-details></v-text-field>
      </template>
      <template v-slot:append>
        <v-btn variant="text" disabled></v-btn>
      </template>
      <v-data-table :headers="headers" :items="userStore.users.filter((obj) => obj.role.name !== 'owner')"
        :search="search" height="420">
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn prepend-icon="mdi-currency-usd" color="green" width="90" @click="openDialog(item)">Pay</v-btn>

          <v-btn prepend-icon="mdi-information-outline" color="blue" class="mx-2" width="90"
            @click="openInfoDialog(item)">Info</v-btn>
        </template>
      </v-data-table>
    </v-card>
  </v-card>
  <SalaryDialog></SalaryDialog>
  <SalaryDialogInfo></SalaryDialogInfo> -->
</template>
