<script setup lang="ts">
import { useSalaryStore } from '@/stores/salary'
import { useUserStore } from '@/stores/user'
import type { Salary } from '@/types/Salary'
import { inject, ref, type Ref } from 'vue'
import DelDialogSalaryInfo from './DelDialogSalaryInfo.vue'
import type { User } from '@/types/User'

const userStore = useUserStore()
const salaryStore = useSalaryStore()
const search = ref('')
const dialogInfo = inject<Ref<boolean>>('dialogInfo', ref(false))
const infoHeader = [
  { key: 'id', title: 'ID', value: 'id' },
  {
    key: 'payMonth',
    title: 'เดือน',
    value: (item: any | Salary) => {
      const payMonth = new Date(item.payMonth).toLocaleDateString()
      return payMonth
    }
  },
  {
    key: 'payDate',
    title: 'วัน',
    value: (item: any | Salary) => {
      const payDate = new Date(item.payDate).toLocaleDateString()
      return payDate
    }
  },
  { key: 'salaryRate', title: 'เงินเดือน', value: (item: any | User) => item.user.salaryRate },
  { key: 'deduction', title: 'ยอดที่หัก', value: 'deduction' },
  { key: 'bonus', title: 'โบนัส', value: 'bonus' },
  { key: 'total', title: 'รวม', value: 'total' },
  { key: 'paymentType', title: 'การจ่ายเงิน', value: 'paymentType' },
  // { key: 'actions', title: 'Actions', value: 'actions', sortable: false }
]
// function closeDialogInfo() {
//   dialogInfo.value = false
// }
function openDelSalaryDialog(item: Salary) {
  // salaryStore.deleteItem(item)
  salaryStore.delDialogSalaryInfo = true
  salaryStore.delItem = item
}

function filterSalaries() {
  const editedUserId = userStore.editedUser.id
  return salaryStore.salaries.filter((salary) => salary.user && salary.user.id === editedUserId)
}
</script>

<template>
  <v-dialog v-model="dialogInfo" width="1024">
    <v-card height="auto">
      <v-toolbar flat color="#424242">
        <v-toolbar-title> การจ่ายเงิน </v-toolbar-title>
      </v-toolbar>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="4">
            <v-card-text>ID: {{ userStore.editedUser.id }}</v-card-text>
          </v-col>
          <v-col cols="12" sm="6" md="4">
            <v-card-text>ชื่อ: {{ userStore.editedUser.fullName }}</v-card-text>
          </v-col>
        </v-row>
        <v-data-table v-if="filterSalaries().length > 0" :headers="infoHeader" :items="filterSalaries()"
          :search="search" height="420">
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="small" @click="openDelSalaryDialog(item)">mdi-delete</v-icon>
          </template>
        </v-data-table>
      </v-container>
    </v-card>
  </v-dialog>
  <del-dialog-salary-info></del-dialog-salary-info>
</template>
