<script setup lang="ts">
import { inject, type Ref } from 'vue'
import { ref } from 'vue'
import { useSalaryStore } from '@/stores/salary'
import { useUserStore } from '@/stores/user'
import type { VForm } from 'vuetify/components'
const salaryStore = useSalaryStore()
const loading = ref(false)
const dialogPayment = inject<Ref<boolean>>('dialogPayment', ref(false))
function closeDialog() {
  dialogPayment.value = false
  salaryStore.editedSalary.paymentType = 'Cash'
  salaryStore.editedSalary.payMonth = ''
}

const userStore = useUserStore()
const refForm = ref<VForm | null>(null)
const rulesAmount = [
  (value: number) => {
    if (!value) {
      return 'กรุณากรอกตัวเลข'
    } else if (value < 0) {
      return 'ข้อมูลผิดพลาด'
    } else {
      return true
    }
  }
]

// const DateTimeRules = [
//   (v: any) => {
//     if (!v) {
//       return 'กรุณาเลือกเวลา'
//     } else if (new Date(v) < new Date()) {
//       return 'กรุณาเลือกเวลาปัจจุบัน'
//     }
//     return true
//   }
// ]

const MonthTimeRules = [
  (v: any) => {
    if (!v) {
      return 'กรุณาเลือกเวลา'
    }
    return true
  }
]

async function save() {
  salaryStore.editedSalary.user = userStore.editedUser
  console.log(salaryStore.editedSalary)
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  salaryStore.editedSalary.total = +userStore.editedUser.salaryRate + +salaryStore.editedSalary.bonus - +salaryStore.editedSalary.deduction;

  // salaryStore.editedSalary.payDate = new Date(salaryStore.editedSalary.payDate).toLocaleDateString()
  // salaryStore.editedSalary.payMonth = new Date(
  //   salaryStore.editedSalary.payMonth
  // ).toLocaleDateString()
  await salaryStore.saveSalary()
  dialogPayment.value = false
  salaryStore.clear()

}
</script>
<template>
  <v-form ref="refForm">
    <v-dialog v-model="dialogPayment" persistent width="1024">
      <v-card max-width="500" class="ma-auto">
        <v-toolbar flat color="#424242">
          <v-toolbar-title> การจ่ายเงิน </v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6">
                <v-card-text>ลำดับ: {{ userStore.editedUser.id }}</v-card-text>
              </v-col>
              <v-col cols="12" sm="6">
                <v-card-text>ชื่อ: {{ userStore.editedUser.fullName }}</v-card-text>
              </v-col>
              <!-- <v-col cols="12" sm="4" md="3">
                <v-card-text>Empoyee Type: Part time/Full time</v-card-text>
              </v-col> -->
              <v-col cols="12">
                <div class="mb-2">จำนวนเงิน(บาท):</div>
                <v-text-field type="number" v-model="userStore.editedUser.salaryRate" readonly
                  :rules="rulesAmount"></v-text-field>
              </v-col>
              <v-col cols="12">
                <div class="mb-2">ประเภทการจ่ายเงิน:</div>
                <v-select v-model="salaryStore.editedSalary.paymentType" :items="['เงินสด', 'พร้อมเพย์']"
                  label="Payment Type" single-line required></v-select>
              </v-col>
              <v-col cols="12">
                <div class="mb-2">จำนวนเงินที่หัก(บาท):</div>
                <v-text-field type="number" v-model="salaryStore.editedSalary.deduction" min="0" :rules="rulesAmount"
                  label="Deduction(Baht)" single-line clearable required></v-text-field>
              </v-col>
              <v-col cols="12">
                <div class="mb-2">โบนัส(บาท):</div>
                <v-text-field type="number" v-model="salaryStore.editedSalary.bonus" min="0" :rules="rulesAmount"
                  label="Bonus(Baht)" single-line clearable required></v-text-field>
              </v-col>
              <v-col cols="12">
                <div class="mb-2">เดือนที่จ่ายเงิน:</div>
                <v-text-field v-model="salaryStore.editedSalary.payMonth" :readonly="loading" class="mb-2" clearable
                  label="Payment Month*" type="date" single-line :rules="MonthTimeRules"></v-text-field>
              </v-col>
              <v-col cols="12">
                <div class="mb-2">วันที่จ่ายเงิน:</div>
                <v-text-field v-model="salaryStore.editedSalary.payDate" :readonly="loading" class="mb-2"
                  label="Pay Date*" single-line type="date"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <!-- <v-btn color="blue-darken-1" variant="text" @click="closeDialog"> Close </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save()"> Pay Comfirm </v-btn> -->
          <v-row>
            <v-col cols="12" sm="4">
              <v-btn variant="text" block @click="closeDialog()"> ยกเลิก </v-btn>
            </v-col>
            <v-col cols="12" sm="8">
              <v-btn color="blue" variant="flat" block @click="save()"> ยืนยันการชำระเงิน </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>
